<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
    <script src="books-clientside.js"></script>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Books in Library</h1>
    <div class="container">        
        <table id="table-data" class="table-refresh">
            <tr>
                <th>S.N</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Title</th>
                <th>Rating</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            
            <%
            if(somedata.length!=0){
            var i=1;
            somedata.forEach(function(data){
            %>
            <tr>
                <td><%=i; %></td>
                <td><%=data.isbn %></td>
                <td><%=data.author %></td>
                <td><%=data.title %></td>
                <td><%=data.rating %></td>
                <td><a href="/book/edit/<%=data.id%>">Edit</a></td>
                <td><a href="/book/delete/<%=data.id%>">Delete</a></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>

    </div>
    
</body>

</html>