<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>    <%- include ("../partials/header.ejs") %>
</head>

<body>    <%- include ("../partials/nav.ejs") %>

    <h1>Library Branches Search</h1>
    <p>Enter details of the branch that you want to search for</p>
    <div class="form">
        <label class="search_id" for="id">ID:</label>
        <input class="search_id" name="id" type="number" /> 
        <label class="search_title" for="title">Title:</label>
        <input class="search_title" name="title" type="text" /> 
        <label class="search_email" for="email">Email:</label>
        <input class="search_email" name="email" type="email" />
        <label for="task">Search By:</label>
        <select id="task" name="type">
          <option value="01">Search By ID</option>
          <option value="02">Search By Title</option>
          <option value="03">Search By Email</option>          
        </select>        
        <input type="submit" value="submit" onclick="find_libraries_all()"/>       
    </div>
<<<<<<< HEAD
    <script type="module" src="/javascripts/library.js">doTask()</script>

    <%- include ("../partials/report.ejs") %>
=======
    <script type="module" src="/javascripts/library.js">
        doTask()
      </script>
>>>>>>> parent of 25d0d8f... Updates to search
    <%- include ("../partials/card_nav.ejs") %>
=======
    <form action="/library" method="get">
        <label for="id">ID:</label>
        <input name="id" type="number" /> <br />
        <label for="title">Title:</label>
        <input name="title" type="text" /> <br />
        <label for="email">Email:</label>
        <input name="email" type="email" /> <br />
        <input type="submit" value="Submit" />
    </form>

    <%- include ("../partials/card_nav.ejs") %>    
>>>>>>> parent of 30d6489... Updating Library search
</body>

</html>