<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>UPS Postal / Mail Service</h1>
    <h2>Mailing Cost Report</h2>
    <form>
        <label for="weight">Weight:</label>
        <input name="weight" type="number" value='<%= weight %>'/> 
        <label for="type"> Type:</label>
        <input name="weight" type="number" value='<%= type %>'/> 
        <label for="amount"> Amount:</label>
        <input name="weight" type="number" value='<%= amount %>'/>             
    </form>    
    <p>Total Amount: <%= amount %> </p>
</body>

</html>